$bodyColor: #28223f !default;
$color-primary: #231e39 !default;
$color-secondary: #1f1a36 !default;
$color-span: #febb0b !default;
$color-button: #03bfcb !default;
$white: #ffffffbe !default;
$dark: #231e39 !default;
